.NewProduct {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 0 3px 3px #ccc;
    text-align: center;
}

.NewProduct label {
    display: block;
    margin: 8px auto;
    text-align: center;
    font-weight: bold;
}

.NewProduct input,
.NewProduct textarea,
.NewProduct select {
    display: block;
    width: 75%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.NewProduct button {
    margin: 18px;
    padding: 8px;
    font: inherit;
    border: 2px solid #f8be00;
    background-color: transparent;
    color: #f8be00;
    cursor: pointer;
}

.NewProduct button:hover,
.NewProduct button:active {
    color: white;
    background-color: #f8be00;
}