.FullPedido {
    width: 80%;
    margin: 20px auto;
    border: 5px solid rgb(109, 140, 206);
    text-align: center;
    padding: 30px;

}

.Productos {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 80%;
    margin: auto;
}